:root {
    --primary-color: #32A3A8;
    --primary-color-l: #CDF0E1;
    --primary-color-d: #075756;
    --second-color: #FDE52F;

    --head-color: #3c3c3c;
    --text-color: #464646;
    --text-color-l: #969696;


    --border-color: #e6e6e6;
    --panel-bg: #F5F5F5;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.4;
    position: relative;
    background: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; 
}

img {
    border: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

textarea:active,
textarea:focus,
select:active,
select:focus,
button:active,
button:focus,
input:active,
input:focus {
    outline: 0;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

textarea {
    overflow: auto;
    resize: none;
    height: 120px;
}

select,
input,
textarea {
    box-sizing: border-box;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 10px;
    line-height: 28px;
    background-color: #fff;
    background-image: none;
    border: 1px transparent solid;

    transition: all 0.3s;
    font-size: inherit;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.08);
}

textarea:not(.user-invalid):focus,
input:not(.user-invalid):focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px var(--primary-color-l);
}

.formItem .user-invalid,
.formItem .valueMissing,
textarea.error,
input.error {
    border-color: #ff7875;
    box-shadow: 0 0 0 2px #fff1f0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 0.6;
}

input::-moz-placeholder,
textarea:-ms-input-placeholder {
    opacity: 0.6;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 0.6;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder {
    opacity: 0;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

/* select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path stroke="rgb(7, 87, 86)" d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
} */

a {
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s, opacity 0.3s, color 0.3s;
}

a:focus {
    outline: 0;
}

a:hover {
    text-decoration: none;
}

a[href^="tel"] {
    display: inline-block;
}

p {
    margin-top: 0;
}

p a {
    color: var(--primary-color);
}

p a:hover {
    color: var(--primary-color-d);
}

ul {}

p ul li {
    padding-bottom: 1em;
}

.keats-icon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clear {
    clear: both;
}

.container:before,
.container:after,
.clear:before,
.clear:after {
    display: table;
    content: " ";
    clear: both;
}

.containerM {
    max-width: 980px;
}

.container {
    max-width: 1200px;

}

.containerM,
.container {
    margin: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.containerM .row,
.container .row {
    margin-right: -15px;
    margin-left: -15px;
}

.wideContainer {
    margin: 0 15px;
    position: relative;
}

.clear:before,
.clear:after,
.row:before,
.row:after {
    content: " ";
    display: table;
    clear: both;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;

    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-lg-12 {
    width: 100%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-4 {
    width: 33%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-2 {
    width: 16.666666666666664%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", Georgia, "Times New Roman", Helvetica, Arial, sans-serif;
    font-weight: 500;

    padding: 0;
    line-height: 1.2em;
    color: var(--head-color);
    margin: 0 0 0.6em 0;
}

h1 span {
    color: var(--second-color);
}

h2 span,
h3 span,
h4 span {
    color: var(--primary-color-d);
}


h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 16px;
}

.bgFull {
    background-color: var(--primary-color-l);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageContainer {
    min-height: 420px;
}
.section.topSection {
    padding-top: 100px;
}
.section {
    padding: 30px 0;
    position: relative;
    box-sizing: border-box;
}

.section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: linear-gradient(0deg, rgba(191, 236, 216, 0), rgba(191, 236, 216, 0.15));
}

.sectionHeader {
    text-align: center;
    margin: 0 auto 24px auto;
}

.sectionSubHeader {
    text-align: center;
    margin: 0 auto 16px auto;
}

.sectionHeader br,
.sectionSubHeader br {
    display: none;
}

.sectionHeader h2,
.sectionSubHeader h3 {
    margin-bottom: 0.1em;
}

#footer {
    background-color: #232323;
    color: #fff;
}

#footer .main {
    padding: 40px 0;
}

#footer .followLeft {
    overflow: hidden;
}

#footer .followLeft .logo {
    float: left;
}

#footer .followLeft .btn {
    float: right;
}

#footer .linkRight {
    line-height: 64px;
    text-align: center;
}

#footer .iconList .icon {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    text-align: center;
    line-height: 64px;
    font-size: 20px;
    display: inline-block;
    margin-left: 16px;
}

#footer .iconList .icon img {
    width: 42px;
    height: auto;
}

#footer .iconList .icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#backToTop {
    position: fixed;
    z-index: 99;
    display: none;
    bottom: 20px;
    right: 20px;
}

.copyright {
    padding: 20px 0;
    border-top: 1px rgba(255, 255, 255, 0.2) solid;
    color: rgba(255, 255, 255, 0.5);
}