.sectionCityList .cityBox {
    display: block;
    margin: 10px 0;
}

.sectionCityList .cityBox .cover {
    padding-top: 140%;
    border-radius: 160px;
}

.cityMeta {
    text-align: center;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.cityMeta .txt {
    font-size: 80%;
    font-weight: normal;
    color: var(--text-color-l);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sectionAdvantage {}

.circleList {
    text-align: center;
}

.circleList br {
    display: none;
}

.circleList .item {
    text-align: center;
    border-radius: 10px;
    padding: 12px 0;
    margin-bottom: 12px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.08);
}

.circleList .item h4 {
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.circleList .item.yellow {
    background: var(--second-color);
}

.circleList .item.green {
    background-color: var(--primary-color);
}

.circleList .item.greenLight {
    background-color: var(--primary-color-l);
}

.circleList .item.greenDark {
    color: #fff;
    background-color: var(--primary-color-d);
}

.circleList .item.green h4,
.circleList .item.greenDark h4 {
    color: inherit;
}


.faqList .item {
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.05);
}

.faqList .title {
    padding: 20px 60px 20px 20px;
    position: relative;

    background-color: transparent;
    border: none;
}

.faqList .title h4 {
    margin: 0;
    transition: color 0.3s;
}

.faqList .title .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 36px;
    line-height: 64px;
    width: 64px;
    text-align: center;
    color: var(--primary-color);
    transition: background-color 0.3s, opacity 0.3s, color 0.3s;
}

.faqList .title:hover h4 {
    color: var(--primary-color);
}

.faqList .title:hover .icon {
    color: var(--primary-color-d);
}

.faqList .item .plus {
    display: inline-block;
}

.faqList .item .minus {
    display: none;
}

.faqList .item[expanded] .plus {
    display: none;
}

.faqList .item[expanded] .minus {
    display: inline-block;
}

.faqList .text {
    padding: 0 20px 20px 20px;
}

.faqList .text ul {
    padding-left: 28px;
}

.sectionAccommodation .cover {
    margin-bottom: 12px;
    overflow: hidden;
    text-align: center;
}

.sectionAccommodation .cover img {
    border-radius: 10px;
}

.infoBoxList {
    display: flex;
    flex-wrap: wrap;
}

.infoBoxList .col-md-6 {
    margin-bottom: 10px;
}

.infoBox {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    box-sizing: border-box;

    height: 100%;
    padding: 15px;

    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.08);
}

.infoBox.dark {
    color: #fff;
    background-color: var(--primary-color-d);
}

.infoBox.dark h4 {
    color: #fff;
}

.infoBox.light {
    background-color: var(--primary-color-l);
}

.infoBox.light h4 {
    color: var(--primary-color-d);
}

.infoBox.yellow {
    background-color: var(--second-color);
}

.assistantList {
    display: flex;
    flex-wrap: wrap;
}

.assistantList .box {
    margin: 16px auto;
    text-align: center;
}

.assistantList .icon {
    width: 64px;
    height: 64px;
    margin: 16px auto;
    font-size: 36px;
    line-height: 64px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
}



@media (max-width: 760px) {

    .sectionAccommodation .cover .col-md-12 {
        display: none;
    }

    .sectionAccommodation .cover .col-md-12:nth-child(1) {
        display: block;
    }


}