.topBar {
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(248, 252, 250, 0.96);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .04);
}

.topBar .logo {
    float: left;
    color: var(--head-color)
}


.topBar .logo .down {
    color: var(--primary-color)
}

.btnTop{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 20px;
}
