.topBar {
    padding: 15px 0 10px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.topBar .logo {
    float: left;
    height: 40px;
    margin: 0;
}
.topBar .logo{
    color: var(--head-color)
}

.topBar .logo .down {
    color: var(--primary-color)
}